$screen-xs-max: 768px;
$screen-sm-max: 1024px;

$color-primary: #2196F3;
$color-secondary: #5C8886;

$white-bg: #FFF;
$light-bg: #EEE;

$default-header-height: 64px;

$dark-text-primary: rgba(255, 255, 255, 1);
$dark-text-secondary: rgba(255, 255, 255, .7);

$light-text-primary: rgba(0, 0, 0, .87);
$light-text-secondary: rgba(0, 0, 0, .54);

$default-padding: 16px;

$font-size-title: 16px;
$font-size-body: 14px;
$font-size-caption: 12px;

$default-image-background: #ddd;
