$screen-xs-max: 768px;
$screen-sm-max: 1024px;

$color-primary: #5C8886;
$color-secondary: #2196F3;

$default-header-height: 64px;

$dark_text_primary: rgba(255, 255, 255, 1);
$dark_text_secondary: rgba(255, 255, 255, .7);

$light_text_primary: rgba(0, 0, 0, .87);
$light_text_secondary: rgba(0, 0, 0, .54);

$default-padding: 16px;

$font-size-title: 16px;
$font-size-body: 14px;
$font-size-caption: 12px;
